.drinks {
  &-menu {
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 0;
        margin-bottom: 10px;
        strong {
          .font_size(24);
          color: @white;
          .headerFont();
        }
        &:before {
          display: none;
        }
      }
    }
  }
}