.games {
  &-wrapper {

  }
  &__item {
    box-shadow: inset 0 0 0 1px @white25;
    margin-bottom: @spaced;
    &.show {
      opacity: 1;
    }
    &.hide {
      opacity: .25;
    }
    > div {
      @media @min {
        min-height: 80px;
      }
      @media @desktop {
        min-height: 80px;
      }
    }
    &-info {
      display: inline-block;
      height: 50px;
      padding-left: 10px;
    }
    &-image {
      height: 50px;
      width: 50px;
      background: @white25;
      display: inline-block;
      border-radius: 50%;
      float: left;
    }
    &-type {
      position: relative;
      span {
        .center();
        //width: 200%;
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transform-style: preserve-3D;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background: @white25;
        right: 0;
      }
    }
  }
}