body,html {
  background: lighten(@black, 10%);
}

#wrapper {
  max-width: 1600px;
  margin: auto;
  background: @black;
  position: relative;
  box-shadow: 0 0 @spaced*3 @black25;
}

.home {

  &__title {
    a {
      transition: 300ms ease;
      padding: 0 10px;
      margin-left: -10px;
      @media @desktop {
        letter-spacing: -2px;
      }
      &:hover {
        color: @black;
        background: @white;
      }
    }
  }

  &__hero {
    .title {
      span {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    p {
      color: @gray;
    }
    h1,h2,h3,h4,h5 {
      color: inherit;
    }
    &-copy {
      h3 {
        @media @min {
          .font_size(23);
          line-height: 1.2;  
        }
        @media @tablet {
          .font_size(36);
          line-height: 1.2;
        }
        @media @desktop {
          letter-spacing: -2px;
        }
      }
    }
  }

  &__nav {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    z-index: 199;
    @media @min {
      visibility: hidden;
      right: @spaced;  
    }
    @media @tablet {
      visibility: visible;
      right: @spaced*1.5;
    }
    @media @desktop {
      right: @spaced*1.5;
    }
    
    
    &-button {
      &.current {
        a {
          &:before {
            background: @white;
          }
        }
      }
      a {
        display: block;
        height: 10px;
        width: 10px;
        padding: 5px;
        position: relative;
        box-sizing: content-box;
        span {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: @spaced;
          border-radius: 2px;
          padding: 3px 6px;
          opacity: 0;
          transition: 300ms ease;
        }
        &:before {
          content: '';
          display: block;
          height: 10px;
          width: 10px;
          background: @white25;
          border-radius: 50%;
          .center();
          transition: 300ms ease;
        }
        &:hover {
          &:before {
            background: @white;
          }
          span {
            opacity: 1;
          }
        }
      }
    }

  }
}