.header {

  @media @desktop {
    top: @spaced;
  }
  
  &__logo {}
  
  &__nav {}
  
  &__title {}
  
  &__logo {}
  
  &--sm {}
  
  &--md {}
  
  &--lg {
    @media @min {
      padding: @spaced*.5 0;  
    }
  	@media @tablet {
      padding: @spaced 0;  
    }
    @media @desktop {
      padding: @spaced 0;  
    }
  }

  &--clone {
    position: fixed;
    width: 100%;
    top: 0;
    transform: translateY(-100%);
    background: lighten(@black, 10%);
    transition: 200ms ease;
    padding: @spaced*.5 0;

    .btn--nav {
      height: 30px;
      line-height: 30px;
    }

    .btn--logo {
      padding-left: 30px + @spaced!important;
    }

  }

  &--stick {
    transform: translateY(0);
  }

  .menu {
    display: block;
    float: right;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid @white25;

    &-item {
      display: inline-block;
      margin-bottom: -2px;
      transition: 300ms ease;
      a {
        border-radius: 0;
        font-weight: bold;
        transition: 300ms ease;
        border-bottom: 2px solid transparent;
      }
      &:before {
        display: none;
      }
      &:first-child {
        margin-left: 0;
        a {
          margin-left: 0;
        }
      }
      &:last-child {
        margin-right: 0;
        a {
          margin-right: 0;
        }
      }
      &.active, &:hover {
        a {
          border-bottom: 2px solid @white;
        }
      }
    }
  }
  
}
