.hentry {
  
  &__title{}
  
  &__posted{}
  
  &__content{
  	margin-bottom: @spaced*1.5;
    color: @white;
    h3 {
      color: @white;
      @media @min {
        .font_size(24);
        line-height: 1.1;
        //letter-spacing: -1px;
      }
      @media @tablet {
        .font_size(40);
        line-height: 1.1;
        letter-spacing: -1px;  
      }
      
      &.smallish {
      //  .font_size(24);
        @media @min {
          .font_size(20);
          //line-height: 1.2;  
          //letter-spacing: -1px;
        }
        @media @tablet {
          .font_size(24);
          //line-height: 1.2;
        }
        margin: 0;
        margin-bottom: 10px;
      }
    }
    p {
      color: @lightGray;
      @media @min {
        .font_size(14);
      }
      @media @tablet {
        .font_size(18);  
      }
    }
  }

  &__header {
    h1,h2,h3,h4,h5 {
      color: @white;
      line-height: 1.2;
      background: @black75;
      span {
        
        //box-shadow: 0 0 @spaced @black50;
      }
    }
    h3 {
      padding: @spaced/3 @spaced/2;
      @media @min {
        .font_size(24);
      }
      @media @tablet {
        .font_size(44);
        letter-spacing: -2px;
      }
      @media @desktop {
        .font_size(40);  
        line-height: 1.15;
        letter-spacing: -1px;
      }
      @media @max {
        .font_size(43);  
        position: relative;
        letter-spacing: -1px;
      }

      span {
        position: relative;
        z-index: 1;
      }
      
    }
    p {
      @media @min {
        .font_size(15);
      }
      @media @tablet {
        .font_size(20);
      }
      @media @desktop {
        .font_size(20);
      }
    }
  }
  
  &__footer{}

  &__header {
    &.carousel {
      .fs-carousel {
        &-pagination {
          position: absolute;
          bottom: 0;
          width: 100%;
          z-index: 40;
        }
      }
    }
  }
  
}
